<div class="vh-100 d-flex flex-column">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <a href="/" class="navbar-brand">Todoist Clone</a>
      <button class="btn btn-primary" type="button">Add Task</button>
    </div>
  </nav>

  <div class="container-fluid flex-grow-1 bg-light">
    <div class="row h-100 align-items-stretch">
      <nav class="c-sidebar col-2 bg-dark text-white">
        <ul class="nav mt-5 flex-column nav-pills">
          <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link link-light">Dashboard</a>
          </li>
          <li class="nav-item">
            <a routerLink="/heroes" routerLinkActive="active" class="nav-link link-light" href="#">Heroes</a>
          </li>
        </ul>
        <hr>
        <bt-messages></bt-messages>
      </nav>

      <div class="col-10">
        <h1>{{title}}</h1>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
</div>