<div class="vh-100 d-flex flex-column">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand">Todoist Clone</a>
      <button class="btn btn-primary" type="button">Add Task</button>
    </div>
  </nav>

  <div class="container-fluid flex-grow-1 bg-light">
    <div class="row h-100 align-items-stretch">
      <div class="c-sidebar col-2 bg-dark text-white">
        <ul class="nav mt-5 flex-column nav-pills">
          <li class="nav-item">
            <a class="nav-link link-light active" href="#">Project 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#">Project 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#">Project 3</a>
          </li>
        </ul>
      </div>
      <div class="col-10">
        2 of 2
      </div>
    </div>
  </div>
</div>