<h2>My Heroes</h2>
<div>
  <label for="new-hero">Hero name:</label>
  <input id="new-hero" #heroName />
  <button type="button" (click)="addHero(heroName.value)">Add</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button type="button" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
    <a routerLink="/hero/{{hero.id}}">
      {{hero.name}}
    </a>
    <button type="button" class="delete" title="delete hero"
      (click)="deleteHero(hero)">x</button>
  </li>
</ul>

<h2>{{selectedHeroName}}</h2>
<bt-hero-detail [hero]="selectedHero" [testInput]="selectedHeroName"></bt-hero-detail>

